.container2 {
    font-size: 18px;
}

.showForm {
    padding: 0 10px 10px 0;
    line-height: 30px;
    color: #787a94;

}

label {
    display: block;
}

input, textarea {
    display: block;
}

#name {
    width: 100%;         /*extends boxes to full width of form*/
}
#email {
    width: 100%;         /*extends boxes to full width of form*/
}
#message {
    width: 100%;         /*extends boxes to full width of form*/
    height: 100px;
}
#submit {
    background-color: teal;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}