*{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';   
    box-sizing: border-box;

}

nav {
    background-color: #fff;
    width: 100%;
    height: 90px;
    position: relative;
    top: 0;
}

.navLeft {
    background-color: teal;
    color: #fff;
    font-size: 24px;
    height: 100%;
    width: 250px;   
    display: inline-block;  /*realigned ul in nav*/
    text-align: center;
    line-height: 90px;
    margin-left: 110px;
}

.navRight {
    float: right;
    margin-right: 90px;    
    font-size: 18px;   
}

ul {
}

ul li {    
    display: inline-block;    /* ul is listed horizontally */
    list-style: none;         /* removes bullets & all style from ul*/
    line-height: 100px;       /*equal to nav height  */  
}

ul li a {    
    text-decoration: none; /*gets rid of underline on text link */
    color: #787a94;
    padding: 0 20px;
    display: block; /*creates box so bigger area to click on link*/
    clear: both;
    overflow: auto;
}

body {
    background-color: #c3c6dabb;      
}

.container {
    background-color: #fff;
    max-width:960px;
    height: auto;
    margin: 50px auto 100px;
    padding: 0 30px 10px;
    position: relative;   
    top:45px;
    
}
.container1 {
    margin: 20px auto 0;
}
.container2 { 

    margin-top: 20px;
    
   
} 
h1 {
    color:teal;
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
    padding: 20px 0;
}

p {
    margin: 22px 0;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 5px 0;
}
img {
    float:left;
    margin: 30px 20px 10px 0;
   
}
.clear {              /*use to clear float elements*/
    clear:both;
    overflow: auto;
}

footer {
    background-color: #63626d;
    color: white; 
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;        /*sets it flush to the bottom of page*/
    left: 0;  
    border-top: 10px solid teal;
    border-top-color: teal;
}

.footerCenter {
    padding-top: 25px; 
    text-align: center;
}

/*---------------------- */
/* contact.html specific css */
.container2 {
    font-size: 18px;
}

.showForm {
    padding: 0 10px 10px 0;
    line-height: 30px;
    color: #787a94;

}

label {
    display: block;
}

input, textarea {
    display: block;
}

#name {
    width: 100%;         /*extends boxes to full width of form*/
}
#email {
    width: 100%;         /*extends boxes to full width of form*/
}
#message {
    width: 100%;         /*extends boxes to full width of form*/
    height: 100px;
}
#submit {
    background-color: teal;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

/* --------------------------- */
/* portfolio.html specific css */
  .container{
  }
  
  .boxSet {
      min-height:1500px;
      height: auto;
      
  }
  
  .box {
      position: relative;
  }
  
  .box figcaption{
      
      font-size: 20px;  
      padding: 20px;
      height: 60px;
      width: 300px;
      text-align: center;
      background-color: teal;
      color:white;
      position: absolute;
      top:260px;
  
  }
  
  figcaption {
      position: absolute;
      top:200;
  }
  .box1 {
      float: left;
  }
  
  .box2 {
      float: left;   
      
  }
  
  .box3 {    
      float: left;
  
  }
  
  .box4 {
      float: left;
  }
  
  .box5 {
      float:left;    
  }
  
  .box6 {
      float: left;
  }
  
  .hiddenBox {
      visibility:hidden;
  }

/* --------------- */
/* responsive css */
@media screen and (max-width: 980px) {

    header body footer {
        margin-left: 30px;
    }
    .container {
        max-width: 75%;
        top: 20px; 
        margin-bottom: 200px;
        height:auto;
        
        
    }
}

@media screen and (max-width: 768px) {
   
    .container {
        max-width: 75%;
}


@media screen and (max-width: 640px) { 

    header {
        position: static;
    }

    .navLeft {
        margin: 0;
        width: 100%;
    }
    .navRight {
        background-color: white;
        margin:0;
        width: 100%;
        clear: both;
        text-align: center;
        height:auto;
    }

    .navright ul {
        margin:0;
        padding: 0;
    }
    .container {
        max-width: 75%;
        margin-top: 100px;
       
    }

    
    img {
       width: 100%;
       height: auto;
       
    }
    .boxSet {
        margin-left: 50px;   
    }
}
}




