* {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(95, 148, 15);

}

nav {
    background-color: #fff;
    width: 100%;
    /* height: 90px; */
    position: relative;
    top: 0;
}

.navLeft {
    background-color: rgb(111, 112, 126);
    color: #fff;
    font-size: 175%;
    font-weight: 600;
    width: 25%;
    display: inline-block;
    /*realigned ul in nav*/
    min-height: 90px;
    padding: 20px 20px 20px 30px;
}
.navLeft a {
    color: white;
}
a:hover, a:active {
    color: rgb(142, 209, 41);
}
.navRight {
    float: right;
    margin-right: 90px;
    font-size: 22px;
    font-weight: 700;
}

ul li {
    display: inline-block;
    /* ul is listed horizontally */
    list-style: none;
    /* removes bullets & all style from ul*/
    line-height: 100px;
    /*equal to nav height  */
}

ul li a {
    text-decoration: none;
    /*gets rid of underline on text link */
    color: #787a94;
    padding: 0 20px;
    display: block;
    /*creates box so bigger area to click on link*/
    clear: both;
    overflow: auto;
}

body {
    background-color: #c3c6dabb;
}

.container {
    background-color: #fff;
    max-width: 960px;
    height: auto;
    margin: 50px auto 100px;
    padding: 0 30px 10px;
    position: relative;
    top: 45px;
}

.containerContact {
    background-color: #fff;
    max-width: 560px;
    height: auto;
    margin: 50px auto 100px;
    padding: 0 30px 10px;
    position: relative;
    top: 45px;
}

.container1 {
    margin: 20px auto 0;
}

.container2 {
    font-size: 18px;
    margin-top: 20px;
}

h1 {
    color: rgb(111, 112, 126);
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
    padding: 20px 0;
}

p {
    margin: 22px 0;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 5px 0;
}

img {
    float: left;
    margin: 30px 20px 10px 0;
}

.clear {
    /*use to clear float elements*/
    clear: both;
    overflow: auto;
}

footer {
    text-align: center;
    padding: 25px 0;
    font-size: large;
    font-weight: 500;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-color: #63626d;
    color: white;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    /*sets it flush to the bottom of page*/
    left: 0;
}

footer a {
    padding: 0 20px;
}

/* contact.html specific css */

.showForm {
    padding: 0 10px 10px 0;
    line-height: 30px;
    color: #787a94;
}

label {
    display: block;
}

input,
textarea {
    display: block;
}

#name {
    width: 100%;
    /*extends boxes to full width of form*/
}

#email {
    width: 100%;
    /*extends boxes to full width of form*/
}

#message {
    width: 100%;
    /*extends boxes to full width of form*/
    height: 100px;
}

#submit {
    background-color:rgb(111, 112, 126);
    color: #fff;
    font-size: 18px;
    padding: 5px;
}


/* --------------------------- */
/* portfolio.html specific css */

.boxSet {
    min-height: 500px;
    height: auto;
    background-color:  #d5d6dfbb;

}

.box {
    background-color: white;
    position: relative;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color:  #868a97bb;
    margin: 20px;
}
.box img {
    height: 200px;
    width: 250px;
    margin: 0 0 20px;
}
.box figcaption {
    font-size: 20px;
    padding: 10px;
    /* height: 60px; */
    width: 100%;
    text-align: center;
    background-color: rgb(111, 112, 126);
    color: white;
    position: absolute;
    top: 68%;
}

.githubdiv {
    margin: 25px 0 10px 5px;
    min-height: 36px;
}
.hiddenBox {
    visibility: hidden;
}


/* --------------- */
/* responsive css */
@media screen and (max-width: 980px) {
    .navLeft {
        margin-left: 50px;
    }
    .navRight {
        margin-right: 10px;
    }
    .container {
        max-width: 75%;
        min-width: 600px;
        margin-bottom: 200px;
        height: auto;
        position: absolute;
        top: 100px;
        left: 50px;
    }
    .aboutMe {
        margin-top: 0;
    }
    .container2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .navLeft {
        font-size: 20px;
    }
    .container {
        width: 75%;
    }
    img {
        width: 250px;
        height: auto;
    }
    .box figcaption {
        /* width: 250px; */
        height: 45px;
        top: 225px;
    }
}

@media screen and (max-width: 640px) {
    nav {
        position: static;
        width: 100%;
        height: 60px;
    }
    .navLeft {
        width: 100%;
        margin-left: 0;
        line-height: 60px;
    }
    .navRight {
        background-color: white;
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 25%;
    }
    .navright ul {
        margin: 0;
        padding: 0;
    }
    .container {
        margin-left: 40px;
        min-width: 400px;
        margin-top: 100px;
    }
    img {
        height: auto;
        float: none;
        margin-top: 10px;
    }
    .aboutMe {
        margin-left: 50px;
    }
    .box {
        margin: 0 50px;
    }
}